*.pdf
.DS_Store
backend/myenv/
backend/capstone/
backend/**/__pycache__/
backend/**/*.pyc
backend/.env


# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Vite cache
.vite/

# TypeScript cache
*.tsbuildinfo

api_doc.yaml

backend/cache/
backend/.venv/lib64
backend/app/models/__pycache__/__init__.cpython-312.pyc
backend/app/models/__pycache__/auth.cpython-312.pyc
backend/app/routers/__pycache__/__init__.cpython-312.pyc
backend/app/routers/__pycache__/auth.cpython-312.pyc
